@media (min-width: 768px) {

nav .container .row .submitContainer { margin-top:10px; padding-left:0px; padding-right:0; text-align:right; }

}

@media(min-width:1200px){

nav .container .row .submitContainer { margin-top:45px; text-align:left; padding-left:15px; padding-right:15px; }
nav .container .row .submitContainer .btn-login { width:100%;  }
.bottomContent .bottomContentContainer .row .slideNavigationWrapper { position: absolute; min-width: 248px; top: 210px; left: 266px; }

}