.navbar-inverse {
    background-color: #FFFFFF;
}

.navbar-header {
    padding-top: 42px;
    padding-left: 0px;
    padding-bottom: 28px;
}

nav .container .row .loginSection {
    padding-top: 45px;
}

nav .container .row .userSection {
    padding-top: 70px;
}

nav .container .row .loginSection .form-group:nth-of-type(1) {
    margin-bottom: 5px!important;
}

nav .container .row .loginSection .form-group input[type=text], nav .container .row .loginSection .form-group input[type=password], nav .container .row .loginSection .form-group .input-icon {
    background-color: #ecf0f1;
}

nav .container .row .submitContainer {
    margin-top: 45px;
}

nav .container .row .submitContainer p {
    line-height: 1!important;
    font-size: 12px;
}

nav .container .row .submitContainer .btn-login {
    background-color: #2fac66!important;
}

.topContent {
    background-color: #34495e;
    text-align: center;
    color: #FFFFFF;
}

.topContent .container h1 {
    font-size: 40px;
    font-weight: normal!important;
    margin-bottom: 35px!important;
}

.topContent .btn-primary, .userSection .btn-primary, .callListSection a.btn-primary {
    background-color: #2fac66!important;
}

.splashColumn .row .splashContent h2 {
    font-size: 39px;
    font-weight: normal!important;
    text-align: left;
    margin-bottom: 25px!important;
}

.splashContent p {
    font-size: 19px!important;
}

.bottomContent {
    background-color: #ecf0f1;
    border-bottom: 1px solid #dee1e4;
    padding-bottom: 25px;
}

.bottomContent .bottomContentContainer .row h2 {
    font-size: 39px;
}

.bottomContent .bottomContentContainer .row h2, .bottomContent .bottomContentContainer .row h3 {
    font-weight: normal;
}

.bottomContent .bottomContentContainer .row h3 {
    color: #2bb673;
}

.bottomContent .range-slider-slides {
    list-style: none;
    list-style: none;
    margin-top: 25px;
    margin-left: -40px;
    list-style-position: outside;
}

.bottomContent .bottomContentContainer .row .slideNavigationWrapper {
    position: absolute;
    min-width: 248px;
    top: 210px;
    left: 266px;
}

.bottomContent .bottomContentContainer .row .slideNavigationWrapper .slideNavigationContainer {
    padding-left: 0px!important;
    padding-right: 5px!important;
}

.ui-slider-range {
    background-color: #299f5d!important;
    opacity: 0.9;
}

.ui-slider-handle {
    background-color: #26905d!important;
}

.ui-slider-segment {
    background-color: #cdcdcd!important;
}

.ui-slider {
    background: #fff!important;
}

span.fui-arrow-right {
    float: right;
    padding: 0!important;
    color: #b3c0cb;
}

span.fui-arrow-right:hover {
    color: #26905d!important;
    cursor: pointer;
}

span.fui-arrow-left {
    float: left;
    padding: 0!important;
    color: #b3c0cb;
}

span.fui-arrow-left:hover {
    color: #26905d!important;
    cursor: pointer;
}

.footerSection .container .footerContainer {
    padding-right: 0!important;
    padding-left: 0!important;
    margin-bottom: 20px;
}

.footerSection .container .footerContainer footer {
    margin-top: 20px!important;
    color: #c0c5ca;
}

.footerSection .container .footerContainer footer .copyrightNote span {
    font-size: 12px;
}

.footerSection .container .footerContainer footer .footerNavs a {
    font-size: 12px;
    color: #c0c5ca;
}

.footerSection .container .footerContainer footer .footerNavs span:nth-of-type(1) {
    padding-right: 10px;
}

.container .accountsTab #errMsg i {
    font-size: 1.35em;
    font-family: FontAwesome, arial;
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 15px;
    color: red;
    padding: 10px;
}

.container .accountsTab .tab-content {
    border: none;
    border-radius: 0px;
    margin-bottom: 20px;
    padding: 0 0 0 0;
    position: relative;
    z-index: 1;
}

.container .tabContainer { 
	z-index: 1;
}

.container .tabContainer .nav-tabs {
    background-color: #34495e;
    min-height: 53px;
    !important; border-bottom-color: #34495e;
    border-radius: 6px 6px 6px 6px;
}

.container .tabContainer .nav-tabs li {
    text-align: center;
    width: 196px;
}

.container .tabContainer .nav-tabs li a {
    color: #fff;
    border-radius: 6px 6px 6px 6px;
    min-height: 53px;
    padding: 15px 21px 8px;
}

.container .tabContainer .nav-tabs li a:active {
    background-color: #34495e;
}

.container .tabContainer .nav-tabs li.active a {
    background-color: #2fac66;
    border-radius: 0;
}

.container .tabContainer .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    border-color: #2fac66;
    border-bottom-color: #2fac66;
    border-width: 2px;
}

.container .tabContainer .nav-tabs > li:first-child.active > a {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.container .filterSection {
    background-color: #f9fafb;
    border-radius: 6px 6px 6px 6px;
    border: 2px #edf1f2 solid;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    margin-right: 0px;
}

/*Select box styles*/
.container .filterSection div > .btn-warning {
    background-color: #2fac66;
}

.container .filterSection div > .dropdown-menu {
    background-color: #34495e;
}

.container .filterSection div > .dropdown-menu li > a {
    color: #FFFFFF;
}

.container .filterSection div > .dropdown-menu li > a:hover {
    background-color: #2fac66;
}

.container .filterSection div > .dropdown-menu li.selected > a {
    background-color: #2fac66;
}

.container .filterSection div > .dropdown-menu li.selected > a:hover {
    background-color: #2fac66;
}

.container .filterSection .dropdown-arrow {
    border-color: transparent transparent #34495e transparent;
}

.container .filterSection div > .mbl {
    margin-bottom: 0px!important;
}

/*Select box styles*/
.container .callHistoryDetails div > .btn-warning {
    background-color: #2fac66;
}

.container .callHistoryDetails div > .dropdown-menu {
    background-color: #34495e;
}

.container .callHistoryDetails div > .dropdown-menu li > a {
    color: #FFFFFF;
}

.container .callHistoryDetails div > .dropdown-menu li > a:hover {
    background-color: #2fac66;
}

.container .callHistoryDetails div > .dropdown-menu li.selected > a {
    background-color: #2fac66;
}

.container .callHistoryDetails div > .dropdown-menu li.selected > a:hover {
    background-color: #2fac66;
}

.container .callHistoryDetails .dropdown-arrow {
    border-color: transparent transparent #34495e transparent;
}

.container .callHistoryDetails div > .mbl {
    margin-bottom: 0px!important;
}

.table-bordered {
    font-size: 13px!important;
	border:none!important;
}

.table-bordered tr:nth-child(even) {
    background-color: #ccc;
}

.table-bordered > thead > tr th, .table-bordered > tbody > tr th, .table-bordered > tfoot > tr th, .table-bordered > thead > tr td, .table-bordered > tbody > tr td, .table-bordered > tfoot > tr td {
	border-left:none!important;
	border-right:none!important;
}

.callListSection .callList .callHistoryDetails {
    background-color: #f9fafb;
    border-radius: 6px 6px 6px 6px;
    border: 2px #edf1f2 solid;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 65px;
}

.callList table th.callerTag {
    width: 70px;
    text-align: center;
}

.callList table th.callDate {
    width: 125px;
    text-align: center;
}

.callList table tbody tr td.callTag {
    text-align: center;
}

.callList table tbody tr td.callDate {
    text-align: center;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: #2fac66!important;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border: 0px solid #aaa!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    padding: 10px 15px!important;
    margin: 0px 0px!important;
    cursor: pointer;
    color: #333 !important;
    font-size: 14px!important;
    font-weight: bold!important;
    color: #FFFFFF;
}

.paging_full_numbers .first {
    display: none!important;
}

.paging_full_numbers .last {
    display: none!important;
}

.paging_full_numbers a.previous {
    border-bottom-left-radius: 6px!important;
    border-top-left-radius: 6px!important;
}

.paging_full_numbers a.next {
    border-bottom-right-radius: 6px!important;
    border-top-right-radius: 6px!important;
}

.dataTables_info {
    width: auto!important;
    float: left;
    font-size: 18px!important;
}

.paging_full_numbers a.paginate_active {
    background-color: #2fac66!important;
}

.regFormSection fieldset .form-group div span.required, .signUpFormSection fieldset .form-group div span.required, .forgotPasswordFormSection fieldset .form-group div span.required {
    color: red;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    font-weight: bold;
    font-size: 25px;
}

.regFormSection fieldset input[type="text"], .signUpFormSection fieldset input[type="text"], .forgotPasswordSection fieldset input[type="text"], .createPasswordSection fieldset input[type="password"] {
    text-align: center;
}

.signUpFormSection fieldset .form-group { margin-bottom:10px; }

.regFormSection fieldset .submitContainer .btn-primary, .signUpFormSection fieldset .form-group .btn-primary, .forgotPasswordFormSection fieldset .form-group .btn-primary, .createPasswordSection fieldset .form-group .btn-primary, .container .termsContent .btn-back {
    background-color: #2fac66!important;
}

.signUpFormSection fieldset .control-label { text-align:left; padding-top:0px!important; padding-bottom:0px!important; }

.loginFormSection fieldset .form-group:nth-of-type(2) {
    margin-bottom: 0px!important;
}

.loginFormSection fieldset .error {
    font-size: 12px!important;
    color: red;
}

.regFormSection fieldset .form-group .error, .signUpFormSection fieldset .form-group .error, .forgotPasswordFormSection fieldset .form-group .error {
    border: 1px solid red;
}

.regFormSection fieldset .form-group span.errorMsg, .signUpFormSection fieldset .form-group span.errorMsg, .forgotPasswordFormSection fieldset .form-group span.errorMsg, .createPasswordSection fieldset .form-group span.errorMsg {
    padding-left: 15px;
    font-size: 11px!important;
}

.regFormSection .submitContainer, .signUpFormSection .submitContainer, .forgotPasswordSection .submitContainer, .createPasswordSection .submitContainer {
    text-align: center;
}

.formHeadLine {
    background-color: #34495e;
    color: #FFFFFF;
}

.formHeadLine .container .row div {
    text-align: center;
}

.formHeadLine .container .row div h3 {
    font-size: 36px;
    font-weight: normal;
    margin-top: 15px;
}

.termsHeadline {
    background-color: #34495e;
    color: #FFFFFF;
	padding:20px 0!important;
	margin-bottom:30px;
}

.termsHeadline .container .row div {
    text-align: center;
}

.termsHeadline .container .row div h3 {
    font-size: 36px;
    font-weight: normal;
    margin-top: 15px;
}

.container .termsContent p { text-align:justify; }

.container .termsContent a.btn-back { float: right; }

.signUpContainer .headLine, .registerContainer .headLine, .createPasswordContainer .headLine {
    text-align: center;
}

.signUpContainer .headLine sup i, .registerContainer .headLine sup i, .createPasswordContainer .headLine sup i {
    color: red;
}

.signUpSections h4, .registerSections h4, .createPasswordSection h4, .forgotPasswordSection h2 {
    text-align: center;
}

.signUpSections p, .registerSections p, .createPasswordSection p, .forgotPasswordSection p {
    background-color: #f9fafb;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 2px solid #ecf0f1;
    text-align: center;
}

.signUpFormSection fieldset .note {
    background-color: none!important;
}

.forgotPasswordSection {
    margin-top: 50px;
}

.registerSections .row .noteTxt, .signUpSections .row .noteTxt, .createPasswordSection .row .noteTxt {
    margin-bottom: 10px;
    text-align: center;
}

.registerSections .row .noteTxt span, .signUpSections .row .noteTxt span, .createPasswordSection .row .noteTxt span {
    font-size: 16px;
    font-style: italic;
    color: #999999;
}

.registerSections .row .noteTxt sup, .signUpSections .row .noteTxt sup, .createPasswordSection .row .noteTxt sup {
    color: #2fac66!important;
}


/*.modal-backdrop { position:relative;	}
.modal-backdrop.in { opacity: 0.5!important }*/

.modal-backdrop.in { opacity: 0.5!important }

.modal-body  .btn-primary { background-color: #2fac66!important; }
.modal-footer .btn-primary { background-color: #2fac66!important; }
.modal-content .modal-footer { background-color: #34495e!important; }
.modal-header{
    border-color: #ccc;
}

.modal-content .modal-body { max-height: 400px; overflow: scroll; overflow-x: hidden; }

.modal-content .modal-footer a.btn-decline, .modal-content .modal-footer a.btn-cancel { color:#FFFFFF!important; float:left; text-decoration:underline; }
.modal-content .modal-footer a.btn-decline:hover, .modal-content .modal-footer a.btn-cancel:hover { color:#16a085!important; text-decoration:none; }

input[placeholder]::-webkit-input-placeholder { /* WebKit browsers */
    color: #2fac66!important;
}
input[placeholder]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #2fac66!important;
}
input[placeholder]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #2fac66!important;
}
input[placeholder]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #2fac66!important;
}


select[name="contactsData_length"], select[name="dvData_length"] { border: 2px solid #2fac66!important; border-radius: 5px!important; color: #2fac66;
font-weight: bold; font-size: 14px; }
.form-control + .input-icon { color: #2fac66!important; } 

select.form-control { color: #2fac66!important; text-indent:44%;}
select.form-control option { text-align:center!important; text-indent:150px; }



@media (max-width:767px){
    .sub-modal{
        left: 10%;    
    }
}

/*** 03/12/2014 ***/
.form-group  {
	position: relative;
}
.overlapped-asterisk {
	position: absolute;
	left: 54%;
}
.asterisk-hide {
	display: none;
}

.overlapped-asterisk i {
	font-size:50%!important;
	color: #2fac66!important;
}

.dropdown > .dropdown-menu { margin-top:0px!important; /*position:relative;*/ left: 85px; background-color:#34495e!important; }
.dropdown > .dropdown-menu > li { padding:5px 5px; }
.dropdown > .dropdown-menu li > a { border-radius: 6px 6px 6px 6px!important; color:#fff; padding:3px 15px 0 15px!important; }
.dropdown > .dropdown-menu li > a:hover { background-color: #2fac66!important; }

.hideSuccessAlert { display: none!important; }
.showSuccessAlert { display: block; padding: 18px 45px 14px 25px; font-size:14px; color: #2fac66!important; }

