.navbar-inverse { background-color:#FFFFFF; }
.navbar-header { padding-top: 42px; padding-left: 0px; padding-bottom:28px; }

nav .container .row .loginSection { padding-top:45px; }
nav .container .row .loginSection .form-group:nth-of-type(1) { margin-bottom:5px!important; }
nav .container .row .loginSection .form-group input[type=text], nav .container .row .loginSection .form-group input[type=password], nav .container .row .loginSection .form-group .input-icon{ background-color: #ecf0f1; }
nav .container .row .submitContainer { margin-top:45px; }
nav .container .row .submitContainer p { line-height:1!important; font-size:12px; }
nav .container .row .submitContainer .btn-login { background-color:#2fac66!important; }

.topContent { background-color:#34495e; text-align:center; color:#FFFFFF; }
.topContent .container h1 { font-size:40px; font-weight:normal!important; margin-bottom:35px!important; }
.topContent .btn-primary { background-color: #2fac66!important; }

.splashColumn .row .splashContent h2 { font-size:39px; font-weight:normal!important; text-align:left;  }

.bottomContent { background-color:#ecf0f1; border-bottom:1px solid #dee1e4; padding-bottom:25px; }
.bottomContent .bottomContentContainer .row h2, .bottomContent .bottomContentContainer .row h3  { font-weight:normal; }
.bottomContent .bottomContentContainer .row h3  { color:#2bb673; }

.footerSection .container .footerContainer { padding-right:0!important; padding-left:0!important; margin-bottom:20px; }
.footerSection .container .footerContainer footer { margin-top:20px!important; color:#c0c5ca; }
.footerSection .container .footerContainer footer .copyrightNote span { font-size:12px; }
.footerSection .container .footerContainer footer .footerNavs a { font-size:12px; color:#c0c5ca; }
.footerSection .container .footerContainer footer .footerNavs span:nth-of-type(1) { padding-right:10px; }



.container .accountsTab { margin-top:60px; }
.container .accountsTab #errMsg i { font-size:1.35em; font-family: FontAwesome, arial; font-weight: bold; margin-left: 15px; margin-bottom: 15px; color: red; padding: 10px; }
.container .filterSection { background-color: #ccc; padding-bottom: 20px; padding-top: 10px; padding-left: 15px; margin-right: 0px; }
.table-bordered tr:nth-child(even) { background-color:#ccc; }
.callListSection .callList .callHistoryDetails{ background-color: #ccc; overflow: hidden; margin-left: 15px; margin-right: 15px; padding-top: 10px; padding-bottom: 10px; }
.callList table th.callerTag { width:70px;text-align:center; }
.callList table th.callDate { width:110px; }
.callList table tbody tr td.callTag { text-align:center; }
.callList table tbody tr td.callDate { text-align:center; }


.regFormSection fieldset .form-group div span.required, .signUpFormSection fieldset .form-group div span.required, .forgotPasswordFormSection fieldset .form-group div span.required { color: red; float: right; position: absolute; top: 0; right: 0; line-height: 40px; font-weight:bold; font-size:25px; }

.regFormSection fieldset input[type="text"], .signUpFormSection fieldset input[type="text"], .forgotPasswordSection fieldset input[type="text"] { text-align:center; }

.loginFormSection fieldset .form-group span.errorMsg { color:#ccc!important; font-size:11px!important; color:red;}
.regFormSection fieldset .form-group .error, .signUpFormSection fieldset .form-group .error, .forgotPasswordFormSection fieldset .form-group .error { border:1px solid red; }
.regFormSection fieldset .form-group span.errorMsg, .signUpFormSection fieldset .form-group span.errorMsg, .forgotPasswordFormSection fieldset .form-group span.errorMsg { padding-left:15px; font-size:11px!important; }

.regFormSection .submitContainer, .signUpFormSection .submitContainer, .forgotPasswordSection .submitContainer { text-align:center; }

.signUpContainer .headLine, .registerContainer .headLine, .createPasswordContainer .headLine { text-align:center; }
.signUpContainer .headLine sup i, .registerContainer .headLine sup i, .createPasswordContainer .headLine sup i { color:red; }
.signUpSections h3, .registerSections h3, .createPasswordSection h3, .forgotPasswordSection h2 { text-align:center; }
.signUpSections p, .registerSections p, .createPasswordSection p, .forgotPasswordSection p { background-color: #ccc; padding: 15px; margin-bottom: 20px; }
.signUpFormSection fieldset .note { background-color:none!important;}
.forgotPasswordSection { margin-top:50px; }


/*@media (max-width: 992px) {
	body {
		padding-top: 200px;
	}
}

@media (max-width: 768px) {
	body {
		padding-top: 200px;
	}
}*/

