.navbar-inverse { background-color:#FFFFFF; }


sub, sup { position: relative; font-size: 60%!important; line-height: 0; vertical-align: baseline; }
.navbar-header { padding-top: 42px; padding-left: 0px; padding-bottom:28px; }
.navbar-header i { font-size: 9em!important; float:left; color:#fff; }
.navbar-header a.navbar-brand { margin-top:30px!important; margin-left:0px!important; color:#fff; }
.navbar-header span { font-size:12px; font-weight:bold; color:#FFFFFF; }
nav .container .row .loginSection { padding-top:45px; }
.topContent { background-color:#34495e; text-align:center; color:#FFFFFF; }
.topContent h1 { font-size:40px; }
.splashColumn .row .splashContent h2 { font-size:39px; text-align:left;  }
.container .accountsTab { margin-top:60px; }
.container .accountsTab #errMsg i { font-size:1.35em; font-family: FontAwesome, arial; font-weight: bold; margin-left: 15px; margin-bottom: 15px; color: red; padding: 10px; }
.container .filterSection { background-color: #ccc; padding-bottom: 20px; padding-top: 10px; padding-left: 15px; margin-right: 0px; }
.table-bordered tr:nth-child(even) { background-color:#ccc; }
.callListSection .callList .callHistoryDetails{ background-color: #ccc; overflow: hidden; margin-left: 15px; margin-right: 15px; padding-top: 10px; padding-bottom: 10px; }
.callList table th.callerTag { width:70px;text-align:center; }
.callList table th.callDate { width:110px; }
.callList table tbody tr td.callTag { text-align:center; }
.callList table tbody tr td.callDate { text-align:center; }

.circle { width: 50px; height: 50px; background: #ccc; -moz-border-radius: 70px; -webkit-border-radius: 70px; border-radius: 70px; display:block; line-height:10em; text-align:center; float:left; }



.regFormSection fieldset .form-group div span.required, .signUpFormSection fieldset .form-group div span.required, .forgotPasswordFormSection fieldset .form-group div span.required { color: red; float: right; position: absolute; top: 0; right: 0; line-height: 40px; font-weight:bold; font-size:25px; }

.regFormSection fieldset input[type="text"], .signUpFormSection fieldset input[type="text"], .forgotPasswordSection fieldset input[type="text"] { text-align:center; }

.loginFormSection fieldset .form-group span.errorMsg { color:#ccc!important; font-size:11px!important; color:red;}
.regFormSection fieldset .form-group .error, .signUpFormSection fieldset .form-group .error, .forgotPasswordFormSection fieldset .form-group .error { border:1px solid red; }
.regFormSection fieldset .form-group span.errorMsg, .signUpFormSection fieldset .form-group span.errorMsg, .forgotPasswordFormSection fieldset .form-group span.errorMsg { padding-left:15px; font-size:11px!important; }

.regFormSection .submitContainer, .signUpFormSection .submitContainer, .forgotPasswordSection .submitContainer { text-align:center; }

.signUpContainer .headLine, .registerContainer .headLine, .createPasswordContainer .headLine { text-align:center; }
.signUpContainer .headLine sup i, .registerContainer .headLine sup i, .createPasswordContainer .headLine sup i { color:red; }
.signUpSections h3, .registerSections h3, .createPasswordSection h3, .forgotPasswordSection h2 { text-align:center; }
.signUpSections p, .registerSections p, .createPasswordSection p, .forgotPasswordSection p { background-color: #ccc; padding: 15px; margin-bottom: 20px; }
.signUpFormSection fieldset .note { background-color:none!important;}
.forgotPasswordSection { margin-top:50px; }


/*@media (max-width: 992px) {
	body {
		padding-top: 200px;
	}
}

@media (max-width: 768px) {
	body {
		padding-top: 200px;
	}
}*/

